a:link, a:visited, a:active{
  color: black;
  text-decoration: none;
  font-weight: bold;

}

.home {
  width: fit-content;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.photo {
  width: 10%;
  height: 10%;
  float: right;
}